{% extends 'layout.html.twig' %}

{% block body %}

<div class="row justify-content-center text-center">

	<div class="col-md-6">

		<br><h3>{{ listing.name }}</h3>
		<a href="{{ path('taskdetail_editlist', {'id': listing.id}) }}">Changer le nom de la liste</a>

		{% for message in app.flashes('successeditlist') %}
            <div class="alert alert-success">
           		<strong>{{ message }}</strong>
       		</div>
       	{% endfor %}<hr>

		<br><ul class="list-group">

	        {% for task in tasks %}
				
				<div class="row">

		        	<li class="list-group-item col-md-7 {% if task.status == 'Done' %}list-group-item-success{% else %}list-group-item-danger{% endif %}">
		           	
		           		<strong>{{ task.title }} - 
			           	
			           	{% if task.status == 'Done' %}
							
							Effectuée</strong>	

			           	{% else %}
								
							A faire</strong>	

			           	{% endif %}

				    </li>

				    <a href="{{ path('taskdetail_edittask', {'id': task.id}) }}" class="offset-md-1" style="line-height: 50px">Editer /</a>

					<a href="{{ path('taskdetail_status', {'id': task.id}) }}" style="line-height: 50px">/ Changer d'état</a>

				</div><br>

        	{% endfor %}

        	{% for message in app.flashes('successremove') %}
            	<div class="alert alert-success">
           			<strong>{{ message }}</strong>
       			</div>
       		{% endfor %}

       		{% for message in app.flashes('successaddtask') %}
            	<div class="alert alert-success">
                	<strong>{{ message }}</strong>
            	</div>
        	{% endfor %}

        	{% for message in app.flashes('successedittask') %}
            	<div class="alert alert-success">
           			<strong>{{ message }}</strong>
       			</div>
       		{% endfor %}

	    </ul>

		<a href="{{ path('taskdetail_remove', {'id': listing.id}) }}" class="btn btn-primary">Supprimer les tâches effectuées</a><br><br>

		<a href="{{ path('taskadd', {'id': listing.id }) }}" class="btn btn-primary">Ajouter une tâche</a>
	
	</div>

</div>

{% endblock %}